@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Category;

<div class=jumbotron>
  <h2>Category Details</h2>
</div>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@if(@Model.Links.Count == 0)
{
  <p>This category does not contain any links</p>
}
else
{
  <h4>The category contains links:</h4>
  <ul>
  @foreach(var join in Model.Links)
  {
    <li>@join.Link.ResourceName</li>
  }
  </ul>
}

<div class="footer">
  @if(@User.Identity.Name != null)
  {
    <div class="link">
      @Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })
    </div>
    <div class="link">
      @Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })
    </div>  
  }
  
  <div class="link">
    @Html.ActionLink("Back to categories", "Index")
  </div>
</div>