@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Category

<div class=jumbotron>
  <h2>Edit category</h2>
</div>

<h4>Edit this category: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CategoryId)

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    <input type="submit" value="Save" />
    <p>@ViewBag.message</p>
}
<p>@Html.ActionLink("Back to categories", "Index")</p>