@{
  Layout = "_Layout";
}

@using System.Security.Claims
<div class="jumbotron">
  <h2>Authentication with Identity</h2>
</div>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!  You are now Logged in!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-secondary" value="Log out" />
  }
  <div class="footer">
    <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
  </div>
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
  <div class="footer">
    <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
  </div>
}