@{
  Layout = "_Layout";
}

@using ResourceLinks.ViewModels

@model RegisterViewModel
<div class="jumbotron">
  <h2>Register a new user</h2>
</div>
<hr/>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)
    <br>
    <br>
    @Html.LabelFor(user=> user.Password)
    @Html.PasswordFor(user=> user.Password)
    <br>
    <br>
    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.PasswordFor(user=> user.ConfirmPassword)
    <br>
    <br>
    <input type="submit" class="btn btn-secondary" value="Register" />
}
<div class="footer">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
