@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Tag

<div class=jumbotron>
  <h2>Edit a tag</h2>
</div>

<h4>Edit this tag: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TagId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br>
    <br>
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to tags", "Index")</p>