@{
  Layout = "_Layout";
}

@using ResourceLinks.Models;
@model List<ResourceLinks.Models.Tag>;

<div class=jumbotron>
  <h1>Tags</h1>
</div>

@if (@Model.Count == 0)
{
  <h3>No tags have been added yet!</h3>
} 

<ul>
  @foreach (Tag tag in Model)
  {
    <h3>@Html.ActionLink($"{tag.Name}", "Details", new { id = tag.TagId })</h3>
    <p>
      @Html.ActionLink("Edit", "Edit", new { id = tag.TagId}) | 
      @Html.ActionLink("Delete", "Delete", new { id = tag.TagId})
    </p>
  }
</ul>

<div class="links2">
  <div class="link">
    @Html.ActionLink("Add new tag", "Create")
  </div>
  <div class="link">
    @Html.ActionLink("Home", "Index", "Home")
  </div>
</div>