@{
  Layout = "_Layout";
}
@using System.Security.Claims
<div class ="homepage">
<div class="jumbotron">
  <h1>Welcome to the Resource Links!</h1>
</div>
</div>
@* <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="img-fluid"> *@
@* <img src="https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/unfurl-slack-resources-en@2x.jpg" class="img-fluid"> *@


<div class="footer">
  <div class="link">
    <p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("See all tags", "Index", "Tags")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("See all links", "Index", "Links")</p>
  </div>
  <div class="link">
    <p>@Html.ActionLink("Create an account", "Index", "Account")</p>
  </div>
  <div class="link">
    @if(@User.Identity.Name == null)
    {
      <p>@Html.ActionLink("Log in", "Login", "Account")</p>
    }
    else
    {
      @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logout"}))
      {
        @* @Html.Hidden("User", User)
        <a href="Account/Index" onclick="document.logout.submit();">Log out</a> *@
        <input type="submit" class="btn btn-default logoutButton" value="Log out" />
      }
    }
  </div>
</div>