@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Link
<div class=jumbotron>
  <h2>Add a new category to link</h2>
</div>

<h4>Add a category to this resource: @Html.DisplayFor(model => model.ResourceName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.LinkId)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" />
    <p>@Html.ActionLink("Cancel", "Details", new {id = Model.LinkId})</p>
}

<p>@Html.ActionLink("Back to Links list", "Index")</p>
