@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Link

<div class=jumbotron>
  <h2>Add a new link</h2>
</div>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.ResourceName)
    @Html.TextBoxFor(model => model.ResourceName)
    <br>
    <br>
    @Html.LabelFor(model => model.LinkUrl)
    @Html.TextBoxFor(model => model.LinkUrl)
    <br>
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)
    <br>
    <br>
    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")
    <br>
    <br>
    @Html.Label("Select tag")
    @Html.DropDownList("TagId", "Select Tag")
    <br>
    <br>    
    <input type="submit" value="Add new link" class="btn btn-default"/>
}
<p>@Html.ActionLink("Show all links", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>


    @* @foreach (SelectListItem categoryId in @ViewBag.CategoryId)
    { 
      @Html.HiddenFor(model => model.Categories)
      @Html.CheckBox("Category", new { id = categoryId.Value })
      @Html.CheckBoxFor(model => model.Value, new { id = categoryId.Value })
      <input type="checkbox" name="selected" id=categoryId.Value />
      @categoryId.Text
      @Html.CheckBoxFor(x => ViewBag.CategoryId)
    } *@
