@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Link

<h4>Add a new link</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.ResourceName)
    @Html.TextBoxFor(model => model.ResourceName)
    <br>
    <br>
    @Html.LabelFor(model => model.LinkUrl)
    @Html.TextBoxFor(model => model.LinkUrl)
    <br>
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)
    <br>
    <br>
    @foreach (SelectListItem categoryId in @ViewBag.CategoryId)
    { 
      @Html.CheckBox("Category", new { value = categoryId.Text })
      @categoryId.Text
      <br>
    }
    <br>
    <br>
    @Html.Label("Select tag")
    @Html.DropDownList("TagId", "Select Tag")
    <br>
    <br>    
    <input type="submit" value="Add new link" class="btn btn-default"/>
}
<p>@Html.ActionLink("Show all links", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>