@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Link

<div class=jumbotron>
  <h2>Add a new link</h2>
</div>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.ResourceName)
    @Html.TextBoxFor(model => model.ResourceName) 
    <br>
    <br>
    <p>Please enter full URL including "https://":</p>
    @Html.LabelFor(model => model.LinkUrl)
    @Html.TextBoxFor(model => model.LinkUrl) 
    <br>
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)
    <br>
    <br>
    @Html.Label("Select category")
    @Html.DropDownList("CategoryId", "Select Category")
    <br>
    <br>
    @Html.Label("Select tag")
    @Html.DropDownList("TagId", "Select Tag")
    <br>
    <br>    
    <input type="submit" value="Add new link" class="btn btn-secondary"/>
}

<div class="footer">
  <div class="link">
    @Html.ActionLink("Show all links", "Index")
  </div>
    <div class="link">
    @Html.ActionLink("Return Home", "Index", "Home")
  </div>
</div>


    @* @foreach (SelectListItem categoryId in @ViewBag.CategoryId)
    { 
      @Html.HiddenFor(model => model.Categories)
      @Html.CheckBox("Category", new { id = categoryId.Value })
      @Html.CheckBoxFor(model => model.Value, new { id = categoryId.Value })
      <input type="checkbox" name="selected" id=categoryId.Value />
      @categoryId.Text
      @Html.CheckBoxFor(x => ViewBag.CategoryId)
    } *@
