@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Link

<h2>Link Details for @Html.DisplayFor(model => model.ResourceName)</h2>
<hr />
<h3>URL: @Html.DisplayFor(model => model.LinkUrl)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>

@if(@Model.Categories.Count == 0)
{
  <p>This link does not belong to any categories</p>
}
else
{
  <h4>Categories the item belongs to:</h4>
  <ul>
  @foreach(var join in Model.Categories)
  {
    <li>@join.Category.Title</li>
    @using (Html.BeginForm("DeleteCategory", "Links"))
    {
      @Html.Hidden("joinId", @join.CategoryLinkId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

@if(@Model.Tags.Count == 0)
{
  <p>This item does not belong to any tags</p>
}
else
{
  <h4>Tags the item belongs to:</h4>
  <ul>
  @foreach(var join in Model.Tags)
  {
    <li>@join.Tag.Name</li>
    @using (Html.BeginForm("DeleteTag", "Links"))
    {
      @Html.Hidden("joinId", @join.LinkTagId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Edit Link", "Edit", new { id = Model.LinkId })</p>
<p>@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.LinkId })</p>
<p>@Html.ActionLink("Delete Link", "Delete", new { id = Model.LinkId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>