@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Link


<h2>Edit</h2>

<h4>Edit this link: @Html.DisplayFor(model => model.ResourceName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.LinkId)

    @Html.LabelFor(model => model.ResourceName)
    @Html.EditorFor(model => model.ResourceName)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    @Html.Label("Select tag")
    @Html.DropDownList("TagId", "Select Tag")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>