@{
  Layout = "_Layout";
}

@model ResourceLinks.Models.Link

<div class=jumbotron>
  <h2>Edit this link</h2>
</div>

<h4>Edit link for: @Html.DisplayFor(model => model.ResourceName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.LinkId)

    @Html.LabelFor(model => model.ResourceName)
    @Html.EditorFor(model => model.ResourceName)
    <br>
    <br>
    @Html.LabelFor(model => model.LinkUrl)
    @Html.EditorFor(model => model.LinkUrl)
    <br>
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)
    <br>
    <br>
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>