@{
  Layout = "_Layout";
}

@using ResourceLinks.Models;
@model List<ResourceLinks.Models.Link>;

<div class=jumbotron>
  <h1>Links</h1>
</div>

@if (@Model.Count == 0)
{
  <h3>No links have been added yet!</h3>
} 

<ul>
  @foreach (Link link in Model)
  {
    <h3>@Html.ActionLink($"{link.ResourceName}", "Details", new { id = link.LinkId })</h3>
    @if(@User.Identity.Name != null)
    {
      <p>
        @Html.ActionLink("Delete", "Delete", new { id = link.LinkId }) | 
        @Html.ActionLink("Edit link", "Edit", new { id = link.LinkId })
      </p>  
    }
    
  }
</ul>

<div class="footer">
  @if(@User.Identity.Name != null)
  {
    <div class="link">
      @Html.ActionLink("Add new link", "Create")
    </div>  
  }
  
  <div class="link">
    @Html.ActionLink("Return Home", "Index", "Home")
  </div>
</div>